* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #bbb;
}

canvas {
    border: 1px solid black;
    width: 800px;
    height: 480px;
}

#toolbox {
    float: left;
    width: 120px;
}

#toolbox > li {
    padding: 10px;
    margin-top: 2px;
    position: relative;
}

#action {
    margin-left: 122px;
    width: 800px;
}

#action > li {
    float: left;
    padding: 10px 15px;
    position: relative;
}

#select {
    background-image: url("images/select.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40% 40%;
    height: 20px;
    width: 20px;
    padding: 0;
}

#edit {
    background-image: url("images/edit.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40% 40%;
    height: 20px;
    width: 20px;
    padding: 0;
}

#new {
    background-image: url("images/new.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40% 40%;
    height: 20px;
    width: 20px;
    padding: 0;
}

#play {
    background-image: url("images/start.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 60%;
    height: 20px;
    width: 20px;
    padding: 0;
}

#play.active {
    background-color: transparent;
    background-image: url("images/stop.png");
}

#play.active:hover {
    background-color: transparent;
    background-color: #ccc;
    cursor: pointer;
}

li#play {
    float: right;
}

li.active {
    background-color: white;
    cursor: default;
}

li {
    list-style-type: none;
    cursor: pointer;
}

li:hover:not(.active) {
    background-color: #ccc;
}

li.locked::after {
    content: "";
    background-color: #bbb;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;   
}

li.locked:hover {
    background-color: inherit;
    cursor: default;
}

.clear {
    clear: both;
}


